body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff0f6;
  text-align: center;
}

/* Header & common */
h1, h2 {
  color: #ff4d6d;
}

/* Surprise box */
.surprise-box {
  max-width: 700px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

/* Button */
button {
  padding: 14px 30px;
  font-size: 18px;
  background: #ff6f91;
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: #ff4d6d;
}

/* Hidden message */
.hidden {
  display: none;
  margin-top: 30px;
}

.signature {
  margin-top: 20px;
  font-weight: bold;
}
.gallery-box {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Heart animation */
.gallery img::after {
  content: "❤️";
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.3s;
}

.gallery img:hover::after {
  opacity: 1;
}

/* Popup style */
#popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
}
.gallery-btn{
   display:inline-block;
   padding:12px 25px;
   background:#ff4d6d;
   color:white;
   text-decoration:none;
   border-radius:8px;
   font-size:18px;
}
